<h1>Editing Cliente</h1>

<%= render 'form', cliente: @cliente %>

<%= link_to 'Mostrar', @cliente, class: "btn btn-primary mb-4" %> |
<%= link_to 'Volver', clientes_path, class: "btn btn-secondary mb-4" %>
