<h1>Editar Categoria</h1>

<%= render 'form', categorium: @categorium %>

<%= link_to 'Mostrar', @categorium, class: "btn btn-primary" %> |
<%= link_to 'Volver', categoria_path, class: "btn btn-secondary" %>
