<h1>Editar Orden Producto</h1>

<%= render 'form', orden_producto: @orden_producto %>

<%= link_to 'Mostrar', @orden_producto, class: "btn btn-primary mb-4" %> 
<%= link_to 'Volver', orden_productos_path, class: "btn btn-secondary mb-4" %>
