<h1>Editar Rol Usuario</h1>

<%= render 'form', rol_usuario: @rol_usuario %>

<%= link_to 'Mostrar', @rol_usuario, class: "btn btn-primary mb-4" %> |
<%= link_to 'Volver', rol_usuarios_path, class: "btn btn-secondary mb-4" %>
