<h1>Editar Producto</h1>

<%= render 'form', producto: @producto %>

<%= link_to 'Mostrar', @producto, class: "btn btn-primary mb-4" %> |
<%= link_to 'Volver', productos_path, class: "btn btn-secondary mb-4" %>
