<h1>Editar Orden Entrega</h1>

<%= render 'form', orden_entrega: @orden_entrega %>

<%= link_to 'Mostrar', @orden_entrega, class: "btn btn-primary mb-4" %> |
<%= link_to 'Volver', orden_entregas_path, class: "btn btn-secondary mb-4" %>
